# ===============================
# Maven
# ===============================
/ProductCatalog/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties


.idea/
*.iws
*.iml
*.ipr
out/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS & System files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs & temp
# ===============================
*.log
logs/
*.tmp
*.swp

# ===============================
# Environment & Config
# ===============================
.env
*.env
*.key
*.pem
*.crt
application-dev.properties
application-prod.properties
application-local.properties
application-test.properties

# ===============================
# JWT Secret or Security keys (if generated or local)
# ===============================
jwt-secret.txt
jwt-private.key
jwt-public.key

# ===============================
# Others
# ===============================
*.class
*.jar
*.war
*.ear
